body {
    margin: auto;  
    background-color: black;
    text-align: center;
}

#logo {
    text-align: center;
    width: 10;
    height: 15;
}

div {
    text-align: center;  
}

.btn {
    width: 10rem;
    height: 5rem;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;    
}